$color:red;
@font-face {
    font-family: en;
    src: url("/static/en.ttf");
    // src: url("https://quxww1.oss-cn-beijing.aliyuncs.com/githubio/en.ttf");
  }
  @font-face {
    font-family: cn;
    src: url("/static/cn.ttf"); 
    // src: url("https://quxww1.oss-cn-beijing.aliyuncs.com/githubio/cn.ttf");
  }
  $cn:cn;
  $en:en;